*{
	   margin: 0;
	   padding: 0;
}

nav{
	   background-color:black;
   	color: white;
	   padding: 15px;
}

li,h1,ul{
	   display:inline;
}

ul{
	   margin-left:55%;
	   color:grey;
}

li:hover{
	   color:white;
	   cursor:pointer;
}

input{
     padding: 15px;
     width: 60%;
     border: 2px solid black;
} 
	
.search{
	   padding: 50px;
	   text-align: center;
}

.box{
	   border-color: black;
	   border: 2px;
	   border-style: solid;
    margin: 50px;
    display: inline-block;
}

img{
	   height: 220px;
	   width: 180px;
}

 .projects{
    text-align: center;
}

.pragraph:hover{
	   cursor: pointer;
	   background-color: black;
	   color: white;
}

.about{
	     text-align: center;
	     padding-top: 30px;
}

.aboutparagraph{
	  margin-top: 20px;
	  margin-bottom: 20px;
}

.contact {
	  text-align: center;
	  background-color: black;
	  color: white;
	  padding-bottom: 20px;
}

a{
	color: white;
}

a:hover{
	color: blue;
}